@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,600&family=Manrope:wght@400;700&display=swap');

:root {
    --color-primary:  #24053E;
    --color-secondary: #44FFA1;
    --color-dark: #584D62;
    --color-light: #FCF8FF;
    --color-white: #FFFFFF;
}

*{
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: 0;
    border: 0;
    text-decoration: none;
    box-sizing: border-box;
}

html {
    font-size: 18px;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Manrope', sans-serif;
    font-size: 1rem;
    user-select: none;;
    overflow-x: hidden;
    background-color: var(--color-primary);
}

a {
    color: var(--color-light);
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}

h1 {
    font-family: 'Fraunces';
    font-size: 4.45em;
    font-style: normal;
    font-weight: 600;
    line-height: 100%;
}

h2 {
    font-family: 'Fraunces';
    font-size: 3.1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 114.286%;
}

h3 {
    font-family: 'Fraunces';
    font-size: 1.78rem;
    font-style: normal;
    font-weight: 600;
    line-height: 125%;
}

p {
    color: var(--color-primary)
}